
.container div {
    --duration: 30s;
    animation: scroll var(--duration) linear infinite;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}